<div class="charts">
    <ngx-charts-line-chart [scheme]="'fire'" [view]="view" [results]="dataTemp" [gradient]="false" [xAxis]="true"
        [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="true" [yAxisLabel]="'Température'"
        [autoScale]="true">
    </ngx-charts-line-chart>

    <ngx-charts-line-chart [scheme]="'fire'" [view]="view" [results]="dataHum" [gradient]="false" [xAxis]="true"
        [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="true" [yAxisLabel]="'Humidité'"
        [autoScale]="true">
    </ngx-charts-line-chart>
</div>